<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>

    <form action="/thankyou" method="post">
      <% if(error) { %>
        <p>You must enter a name</p>
      <% } %>
      <label for="name">Name</label>
      <input type="text" name="name">
      <br>
      <button type="submit">Submit</button>
    </form>

  </body>
</html>
